#edit-bar li {
    display: inline;
}


.navmenu div > img,
.header-bg img {
	width: 100%;
}

#user-name {
    display: block;
    color: white;
    background-color: Black;
}

#viewlet-below-content #tlspu_cookiepolicy_title {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#viewlet-below-content #tlspu_cookiepolicy_message, #tlspu_cookiepolicy_form {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
    padding-left: 20vw;
    font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
    display: inline-block;
    color: white;
}

#viewlet-below-content #tlspu_cookiepolicy_form {
    border: none;
    max-width: 140px;
    padding: 0;
}

#viewlet-below-content #viewlet-cookiepolicy.portalMessage {
    border: none;
    margin: 0 !important;
    background-color: #29A2D9;
}

#tlspu_cookiepolicy_button {
    background-color: #0071B3;
}
