//* // BASE //*//

body {
  background-color: #fff;
  font-size: 16px;
  height: 100vh!important;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

.outer-wrapper {
  flex: 1 0 auto;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  color: @darker-blue;
  font-weight: 600;
}

#content-core {
  p {
    color: @text-color;
  }
}

a {
  color: @link-color;
}

a:hover, a:focus {
  color: @darker-blue;
  text-decoration: none;
}

iframe {
  border: none;
}

//*// Containers

@media (min-width: @screen-sm-min) {
  .container {
    width: @container-sm;
  }
}
@media (min-width: @screen-md-min) {
  .container {
    width: @container-md;
  }
}
@media (min-width: @screen-lg-min) {
  .container {
    width: 100%;
    padding: 0 2em;
    max-width: @container-lg;
  }
}

// Small screen
@media (min-width: @screen-sm-min) {
  .plone-toolbar-top-default .container {
    width: @container-sm;
  }
}
@media(min-width: (@screen-sm-min + @plone-left-toolbar)) {
  .plone-toolbar-left-default .container {
    width: (@container-sm);
  }
}
@media(min-width: (@screen-sm-min + @plone-left-toolbar-expanded)) {
  .plone-toolbar-left-expanded .container {
    width: (@container-sm);
  }
}

// Medium screen
@media (min-width: @screen-md-min) {
  .plone-toolbar-top-default .container {
    width: @container-md;
  }
}
@media(min-width: (@screen-md-min + @plone-left-toolbar)) {
  .plone-toolbar-left-default .container {
    width: (@container-md);
  }
}
@media(min-width: (@screen-md-min + @plone-left-toolbar-expanded)) {
  .plone-toolbar-left-expanded .container {
    width: (@container-md);
  }
}

// Large screen
@media (min-width: @screen-lg-min) {
  .plone-toolbar-top-default .container {
    width: 100%;
    padding: 0 2em;
    max-width: @container-lg;
  }
}
@media(min-width: (@screen-lg-min + @plone-left-toolbar)) {
  .plone-toolbar-left-default .container {
    width: 100%;
    padding: 0 2em;
    max-width: @container-lg;
  }
}
@media(min-width: (@screen-lg-min + @plone-left-toolbar-expanded)) {
  .plone-toolbar-left-expanded .container {
    width: 100%;
    padding: 0 2em;
    max-width: @container-lg;
  }
}
