#country-factsheet {
  padding: 0;
  h2, h3 {
    color: black;
  }
  #country-maplet {
    width: 100%;
    height: 300px;
  }

  .country-authorities {
    background-color: #EEE;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .marine-number {
    border-right: 4rem;
    border: 1px solid #CCC;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 2rem;

    .figure-number {
      color: #002d54;
      font-weight: bolder;
      font-size: 300%;
    }
  }
  .country-dashboard-section {
    // color: #0077bc;
    h3 {
      color: #002d54;
    }
    margin-top: 3rem;
    .container {
      padding: 0;
    }
  }
}
.toc-wrapper {

  #toc {
    background-color: #EEE;
    padding: 0.6rem 2rem;

    a {
      display: block;
      margin-bottom: 0.4rem;
      &.active {
        font-weight: bolder;
      }
      &.level1 {
        font-size:120%;
      }
      &.level2 {
        font-size:110%;
      }
      &.level3 {
        font-size:100%;
      }
      &.level4 {
        font-size:90%;
      }
      &.level5 {
        font-size:80%;
      }
    }
  }
}
