.template-countryfactsheet_view {
  .container {
    width: 100% !important;
    max-width: 100%;
    padding: 0 2em;
  }

  #portal-breadcrumbs {
    margin-bottom: 0;
    position: relative;
  }

  main#main-container {
    margin-top: 0;
  }

  .documentByLine {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  .plone-breadcrumb ol {
    background-color: transparent;
    color: @text-color;
    padding-left: 0;
    padding-bottom: 0;
    li {padding-right: 20px;}
    a,li + li:before {color: inherit;left: -14px;}
    a:hover, #breadcrumbs-current {color: #000;}
  }

  .portletNavigationTree {
    margin-left: 0;
  }
}

.country-title {
  color: @darker-blue;
  font-size: 38px;
  margin-bottom: .3em;
  margin-top: 0;
}

.country-header-container {
  background-color: #59d3ff;
  margin: 0 -2em;
  padding: 2em;
  color: @darker-blue;

  .row {
    margin: 0 -20px;
  }
  .ch-col {
    padding: 0 20px;
  }

  .country-data-wrapper {
    margin: 0 -35px;
    font-size: 15px;
    .ch-col {
      padding: 0 35px;
    }

    a {
      display: inline-block;
      padding-top: 0.5em;
      color: inherit;
      font-size: 14px;
      font-family: "PoppinsR";
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#country-factsheet {
  padding: 0;

  h3 {
    color: inherit;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 31px;
  }

  .marine-data {
    border-right: 1px solid @darker-blue;
    min-height: 420px;

    @media (max-width: 1200px) {
      border: none;
      min-height: auto;
    }
    @media (max-width: 991px) {
      margin-top: 1.5em;
    }
  }

  #country-maplet {
    width: 100%;
    height: 450px;
  }

  .marine-stats {
    background-color: transparent;
    border: none;
    color: inherit;
    margin-bottom: 3.5em;
    font-family: "PoppinsR";
    font-size: 15px;
    border-bottom: 1px solid @darker-blue;
    width: 100%;
    border-radius: 0;
    td {
      padding: 0.5em 0;
      border: none;
    }
    tr {
      td:last-child {
        text-align: right;
        padding-left: 0.5em;
      }
    }
    tbody {
     > tr:not(:last-child) {
       border-bottom: 1px solid @darker-blue;
     }
    }
    tfoot tr {
      font-family: "PoppinsSemiB";
      border-top: 1px solid @darker-blue;
    }

    @media (max-width: 1200px) {
      margin-bottom: 1.5em;
    }
  }

  .marine-number {
    &:first-child {
      margin-bottom: 3.5em;
      @media (max-width: 1200px) {
        margin-bottom: 1.5em;
      }
    }
    .figure-wrapper {
      .figure-number {
        font-family: "PoppinsB";
        font-size: 55px;
        line-height: 55px;
      }
      .figure-content {
        font-family: "PoppinsR";
        font-size: 15px;
        display: block;
        span {
          font-family: "PoppinsB";
        }
      }
    }
  }

  .country-conventions {
    // .dd-title {
    //   padding-left: 1.3em;
    //   cursor: pointer;
    //   position: relative;
    //   &:before {
    //     content: '';
    //     position: absolute;
    //     display: inline-block;
    //     vertical-align: top;
    //     border-style: solid;
    //     border-width: 2px 2px 0 0;
    //     height: 0.50em;
    //     width: 0.50em;
    //   }
    //   &.dd-caret-up:before {
    //     top: 5px;
    //     left: 0;
    //     transform: rotate(45deg);
    //   }
    //   &.dd-caret-down:before {
    //     top: 3px;
    //     left: 4px;
    //     transform: rotate(135deg);
    //   }
    // }
    .dd-content {
      padding-left: 19px;
      >li {
        list-style-type: square;

        a {
          font-family: "PoppinsR";
          font-size: 15px;
          padding: 0 0 0.3em 0;
        }
      }

      @media (max-width: 1200px) {
        border-bottom: 1px solid @darker-blue;
        margin-bottom: 1.5em;
        padding-bottom: 1em;
      }
    }
  }

  .legend {
    font-family: "PoppinsR";
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  .legend-item {
    margin-left: 1em;
    > span {
      position: relative;
      top: 1px;
      font-size: 14px;
    }
  }
  .legend-title {
    font-size: 22px;
    margin-bottom: 0;
  }

  .discreet-map-info {
    color: inherit;
    font-size: 11px;
    margin-bottom: 0;
    text-align: justify;
  }

  .country-authorities {
    background-color: @darker-blue;
    font-family: "RobotoL";
    color: #fff;
    margin: 0 -2em;
    padding: 1em 2em;

    h3 {
      display: inline-block;
      margin-right: 1.5em;
      margin-bottom: 0;
      line-height: 31px;
    }

    li {color: #fff;}

    a {
      font-size: 15px;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }

    .msp-link {
      text-align: right;
      a {text-decoration: underline;}
    }

    .authority-title {
      font-size: 15px;
      position: relative;
      font-family: "RobotoR";
      padding-left: 1.5em;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        vertical-align: top;
        border-style: solid;
        border-width: 2px 2px 0 0;
        height: 0.50em;
        width: 0.50em;
        top: 6px;
        left: 0;
        transform: rotate(45deg);
      }
    }

    .read-more {
      cursor: pointer;
      padding: 0 .5em;
      border-radius: 15px;
      display: inline-block;
      font-size: 14px;
      color: @darker-blue;
      background-color: #fff;
      font-family: "RobotoM";
      font-weight: normal;
      width: 90px;
      text-align: center;
      margin: 0 2em;
    }

    .dd-list {
      display: none;
      ul {
        list-style-position: inside;
        list-style-type: square;
        padding-left: 1em;
        margin-top: 1em;
        margin-bottom: 0;
      }
    }
  }

  .dashboard-wrapper {
    // margin-top: 2.5em;
  }

  .section-title {
    font-size: 25px;
    padding-top: 13px;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .factsheet-tableau-vis {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 0.7em;
    margin-top: 5px;
  }

  .pat-autotoc {
    .country-dashboard-section:not(:first-child) {
      margin-top: 4em;
    }
  }

  .country-dashboard-section {
    .container {
      padding: 0;
    }

    .dashboard-text {
      font-family: "RobotoL";
      font-size: 17px;
    }
  }

  .print-btn-wrapper {
    margin-top: 1em;
  }
}

.right-sidebar {
  position: sticky;
  top: -1px;
  margin-top: 52px;

  // .portlet-select-country {
  //   margin-top: 1em;
  // }
}

.toc-wrapper {
  border-left: 2px solid @darker-blue;
  margin-top: 2em;

  .portletHeader {
    padding: 0 0 10px 23px;
  }

  #toc {
    padding: 0;

    .autotoc-nav {
      padding-left: 0;
    }

    a {
      display: block;
      padding: 8px 10px;
      padding-left: 23px;
      color: #666;
      font-size: 15px;

      &:hover {
        color: @darker-blue;
        font-family: "RobotoB";
      }

      &.active {
        font-family: "RobotoB";
        color: @darker-blue;
        background-color: #e2e2e2;
      }
    }
  }
}

.countries-dropdown {
  dd, dt, ul {
    margin: 0px;
    padding: 0px;
  }

  dd {position:relative;}

  .dd-select {
    color: #666;
    display: block;
    text-decoration: none;
    font-weight: normal;
    position: relative;

    &:after {
      content:"\e114";
      font-family: @icon-font-family;
      font-size: 11px;
      position: absolute;
      right: 0;
      top: 3px;
    }
  }

  dt {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .dd-select-list {
    background: #fff;
    display: none;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 100%;
    min-width: 170px;
    border: 1px solid #ccc;
    max-height: 320px;
    overflow: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .dd-country {
    padding: 5px 12px;
    display: block;
    color: #666;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: #e2e2e2;
    }
  }
}

.select-portlet {
  padding: 0px;
  margin:0px;
}

// .portlet-select-country {
//   margin-top: 1em;
// }

.country-map-thumb {
  display: none;
  width: 100%;
}
