#country-factsheet {
  h2, h3 {
    color: black;
  }
  #country-maplet {
    width: 100%;
    height: 300px;
  }

  .country-authorities {
    background-color: #EEE;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .marine-number {
    border-right: 4rem;
    border: 1px solid #CCC;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 2rem;

    .figure-number {
      color: #002d54;
      font-weight: bolder;
      font-size: 300%;
    }
  }
}
