.tile-listing-wrapper {
  text-align: center;

  .tile-listing-image {
    width: 80%;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .summary {
    font-size: 14px;
  }
}
