// Tile listing view

.tile-listing {
  margin-top: 4rem;
}

.tile-listing-wrapper {
  text-align: center;
  margin: 1.5em 0;

  .tile-listing-image {
    width: 80%;
    height: 100px;
    max-width: 150px;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

.tile-listing-content {
  position: relative;
  display: flex;
}

.tile-desc {
  p {
    color: @darker-blue;
  }
}

.tile-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.modal-title {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.tile-modal .modal-title {
  display: inline-block;
}

.tile-modal .close {
  margin-top: -12px;
  float: right;
  font-size: 25px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  border: none;
  background-color: transparent;
  float: right;
  font-family: "PoppinsSemiB";

  &:hover {
    box-shadow: none;
    opacity: .5;
  }
}

.tile-modal-image {
  min-width: 400px;
  height: 300px;
  margin-right: 2em;
}

.summary {
  font-size: 14px;
}

.tile-modal .modal-dialog {
  top: 10%;
  width: 100%;
}

@media (min-width: 1200px) {
  .tile-modal .modal-dialog {
    max-width: 1170px !important;
  }
}

@media (min-width: 992px) {
  .tile-modal .modal-dialog {
    max-width: 970px;
  }
}

@media (min-width: 768px) {
  .tile-modal .modal-dialog {
    max-width: 750px;
  }
}


.image-caption {
  font-style: italic;
  font-size: 14px;
  margin: 0.5em 0;
  color: @gray !important;
}


// Internal and external links 'portlets'/boxes
#relatedItemBox {
  display: none;
}

.internal-related-content {
  float: left;
  ul {
    padding-left: 0;
  }
  li {
    display: block;
  }
}

.external-links {
  float: right;

  p::before {
    content:"\e250";
    font-family: 'Glyphicons Halflings';
    padding-right: 0.5rem;
    font-size: 11px;
  }
}

.internal-related-content,
.external-links {
  border-top: 3px solid #e3edf7;
  margin-top: 1.5em;
}

// Fullwidth view
.template-fullpage_view {
  .container {
    width: 100% !important;
    max-width: 100%;
    padding: 0 2em;
  }

  .site-info {
    max-width: 600px;
  }

  .map-wrapper > img {
    max-width: 650px;
  }
}

.template-tilelisting_view #sidebar {
  display: none;
}
