//* // HEADER //*//

// FrontPage header
#content-header.fp-header {
  padding: 0 !important;
  position: relative;
}

.fp-header .sticky-header {
  background-color: @darker-blue;
}

.fp-header.collapse-nav {
  // .fp-wrapper {
  //   padding: 0;
  // }
  .plone-navbar-toggle {
    border-color: #fff;

    .icon-bar {
      background-color: #fff !important;
    }
  }

  #portal-top {
    padding: 8px 0;
  }

  .fp-header-wrapper {
    top: auto;
  }

  .left-logo-section {
    display: inline-block;
  }

  .right-actions-section {
    float: right;
  }

  .plone-navbar {
    border:none;
  }
}

.fp-header.collapse-nav {
  .plone-navbar-collapse {
    top: 54px !important;
  }
}

.fp-header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 35px;

  .header-container {
    display: block;
  }

  .logo-text {
    color: #fff;
    font-family: "RobotoR";
  }

  .right-actions-section {
    position: relative;

    .top-actions {
      position: absolute;
      top: -45px;
      right: 0;

      .search-icon {
        background-position: 0px -21px;
      }
      .user-icon,
      .user-wrapper > a {
        background-position: -25px -21px;
      }
    }
  }

  .plone-navbar {
    text-align: right;
    border-top: 1px solid #fff;
  }

  ul.plone-nav {
    float: right;
    > li {
      float: left;
      margin: 0;
      &:before {
        content: "";
        width: 1px;
        position: absolute;
        height: 36px;
        top: 0;
        left: 0px;
        background: #fff;
      }
      > a {
        color: #fff;
      }
      &:hover > a {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}


// Page header
#content-header {
  padding-top: 1.5em;
}

#portal-top {
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;

  .left-logo-section {
    position: relative;
    bottom: 10px;
  }
}

.site-logo {
  display: inline-block;
  vertical-align: middle;
}

.logo-text {
  color: @lighter-gray;
  text-transform: uppercase;
  font-family: "RobotoB";
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5em;
  width: 100px;
  line-height: 15px;
}

.top-actions {
  display: flex;
  justify-content: flex-end;

  .top-actions-wrapper {
    display: flex;
  }

  .top-icon {
    height: 23px;
    width: 23px;
    margin: 0 auto;
    display: block;
    background: url('/marine/++theme++wise-theme/static/images/top-icons.svg') no-repeat;
  }

  .search-icon {
    background-position: 0px 1px;
  }

  .user-icon {
    background-position: -25px 1px;
    display: inline-block;
    margin-left: 1em;
    cursor: pointer;
    position: relative;
    bottom: 2px;
  }
}


//* // top search section

.search-icon {
  cursor: pointer;
}

.search-modal {
  display: none;
  position: absolute;
  top: 2em;
  right: 0;
  padding: 1em;
  background-color: #fff;
  z-index: 999;
  width: 300px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submit-mobile-only {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;

  &:before {
    content:"\e003";
    font-family: @icon-font-family;
    font-size: 17px;
  }
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}

.search-submit {
  width: 100%;
  display: block;
  color: #fff;
  background-color: @darker-blue;
  border-radius: 0;
  margin-top: 0.5em;

  &:hover {
    background-color: @dark-blue;
    color: #fff;
  }
}


//* // login and user actions

.user-wrapper > a {
  height: 23px;
  width: 23px;
  margin: 0 auto;
  margin-left: 1em;
  display: block;
  position: relative;
  bottom: 2px;
  background: url(/marine/++theme++wise-theme/static/images/top-icons.svg) no-repeat;
  background-position: -25px 1px;
  display: inline-block;
}

.user-actions {
  position: relative;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  #personal-bar-container {
    position: absolute;
    top: 2em;
    right: 0;
    background-color: #fff;
    z-index: 999;
    min-width: 190px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none;

    li {
      list-style-type: none;
    }

    >li.plone-toolbar-separator {
      >a {
        display: none;
      }
      li {
        >span {
          padding: 0.5em 0.8em;
          display: block;
          font-family: "RobotoM";
        }
        a {
          padding: 0 0.8em 0.5em 0.8em;
          display: block;
          position: relative;
        }
        .icon-logout:before {
          font-size: 12px;
          line-height: 18px;
          position: absolute;
          top: 0;
          right: 10px;
          margin-top: 4px;
          color: #c4183c;
        }
      }
    }
  }
}

.sticky-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  transform: translate3d(0px, 0px, 0px);
  padding: 8px 15px !important;

  .site-logo img {
    width: 80px;
  }
  .logo-text {
    font-size: 12px;
    width: 145px;
    line-height: 15px;
  }
}
