//* // HEADER //*//

#content-header {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

#portal-top {
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.site-logo {
  display: inline-block;
  vertical-align: middle;
}

.logo-text {
  color: @lighter-gray;
  text-transform: uppercase;
  font-family: "RobotoB";
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5em;
  width: 100px;
  line-height: 14px;
}

.top-actions {
  display: flex;
  margin-top: 1.3em;

  .top-icon {
    height: 23px;
    width: 23px;
    margin: 0 auto;
    display: block;
    background: url(/++theme++wise-theme/static/images/top-icons.svg) no-repeat;
  }

  .search-icon {
    background-position: 0 0;
  }

  .user-icon {
    background-position: -25px 1px;
    display: inline-block;
    margin-left: 1em;
    cursor: pointer;
    position: relative;
    bottom: 2px;
  }

}

.right-actions-section {
  display: flex;
}


//* // top search section

.search-icon {
  cursor: pointer;
}

.search-modal {
  display: none;
  position: absolute;
  top: 3em;
  right: 0;
  padding: 1em;
  background-color: #fff;
  z-index: 999;
  border-radius: 7px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-mobile-only {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;

  &:before {
    content:"\e003";
    font-family: @icon-font-family;
    font-size: 17px;
  }
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}

.search-submit {
  width: 100%;
  display: block;
  color: #fff;
  background-color: @darker-blue;
  border-radius: 0;
  margin-top: 0.5em;

  &:hover {
    background-color: @dark-blue;
    color: #fff;
  }
}


//* // login and user actions

.user-wrapper > a {
  height: 23px;
  width: 23px;
  margin: 0 auto;
  margin-left: 1em;
  display: block;
  position: relative;
  bottom: 2px;
  background: url(/++theme++wise-theme/static/images/top-icons.svg) no-repeat;
  background-position: -25px 1px;
  display: inline-block;
}


.user-actions {
  position: relative;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  #personal-bar-container {
    position: absolute;
    top: 1.8em;
    right: 0;
    background-color: #fff;
    z-index: 999;
    border-radius: 7px;
    min-width: 170px;
    max-width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;

    li {
      list-style-type: none;
    }

    >li.plone-toolbar-separator {
      >a {
        display: none;
      }
      li {
        >span {
          padding: 0.5em 0.8em;
          display: block;
          font-family: "RobotoM";
        }
        a {
          padding: 0 0.8em 0.5em 0.8em;
          display: block;
          position: relative;
        }
        .icon-logout:before {
          font-size: 12px;
          line-height: 18px;
          position: absolute;
          top: 0;
          right: 10px;
          margin-top: 4px;
          color: #c4183c;
        }
      }
    }
  }
}

.sticky-header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  transform: translate3d(0px, 0px, 0px);

  .site-logo img {
    width: 80px;
  }
  .logo-text {
    font-size: 12px;
    width: 145px;
    line-height: 15px;
  }
}
