//*// CUSTOM HOME PAGE //*//

.home-content {
  // background-color: #f4f4f4;

  h3 {
    font-size: 24px;
    font-family: "PoppinsB";
    color: @darker-blue;
  }
}

.highlight-area {
  // margin-top: 2em;
  .documentByLine,
  .documentFirstHeading {
    display: none;
  }

  #content {
    margin-bottom: 0;
    .documentFirstHeading,
    p {
      text-align: center;
    }
  }

  p {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
  }
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  margin-bottom: 2.7em;
}

.topic-wrapper {
  flex: 1 0 21%;
  margin: 5px 10px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0.94px 1.42px 5px;
  -webkit-transition: box-shadow .2s ease-out;

  &:hover{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow .2s ease-in;
  }

  > a {
    display: inline-block;
  }

  .topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

    .topic-title {
      margin: 0;
    }
  }

  p {
    margin-top: 1em;
    font-size: 14px;
    color: #666;
  }
}

.topic-wrapper a:hover {
  cursor: pointer;
  > p {
    color: @darker-blue;
  }
}

// Graph/Map area

#frontpage-banners {
  // position: relative;
  // height: 340px;
  // margin-bottom: 2.5em;
  // color: #111131;
  // max-width: 975px;
  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;

  .slideContainer {
    height: 100%;
  }

  .banner-actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    z-index: 997;
    text-align: right;
  }

  .rotating-banners {
    // border-radius: 7px;
    // overflow: hidden;
    // box-shadow: rgba(0, 0, 0, 0.2) 0.94px 1.42px 5px;
    height: 100% !important;

    .banner-wrapper {
      display: flex;
      height: 100%;

      .banner-content {
        background-color: #f2f2f2;
        padding: 1em;
        width: 48%;
        display: flex;
        align-items: center;
        min-height: 382px;

        h4 {
          font-size: normal;
          margin-bottom: 1.4em;
          &.title {
            color: #548279;
            font-size: bigger;
          }
        }

        .banner-source {
          font-size: x-small;
          margin-top: 2em;
        }
      }

      .banner-graph-area {
        overflow: hidden;
        flex: 1;

        .banner-image-wrapper {
          position: relative;
          height: 100%;

          .banner-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            border: 1px solid #f2f2f2;
            // background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
            //
            .banner-layer-caption {
              position: absolute;
              top: 0;
              font-size: x-small;
              z-index: 10;
              padding: 0.3em;
              margin-top: 1em;
              right: 0;
              background-color: #f2f2f2;
              & > * {
                margin: 0;
              }
            }
          }

          .banner-image {
            background-size: cover;
            background-position: center;
            height: 100%;
          }

          .iframe-wrapper {
            height: 100%;
            iframe {
              height: 100%;
            }
          }

        }
      }

    }

  }
}

@media only screen and (max-width: 850px) {
  .topic-wrapper {
    flex: 1 0 41%;
  }
}

@media only screen and (max-width: 700px) {
  .frontpage-banners,
  #slideshow {
    height: auto;
  }
  .banner-image-wrapper, .iframe-wrapper, .banner-graph-area {
    height: 340px;
  }
  .banner-wrapper {
    display: block;
    height: auto;
  }
  .banner-content {
    width: 100%;
    height: 340px;
  }
  .banner-actions {
    bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .topic-wrapper {
    flex: 1 0 51%;
  }
}

.reports-container {
  height: 378px;

  #frontpage-reports {
    height: 100%;
    // border: 1px solid @darker-blue;

    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0.94px 1.42px 5px;
    -webkit-transition: box-shadow 0.2s ease-out;

    h4 {
      background-color: @darker-blue;
      color: white;
      margin: 0;
      padding: 0.6em;
      font-size: medium;
      border-radius: 7px 7px 0px 0px;
    }

    .reports {
      display: flex;
      flex-direction: column;
      height: 336px;

      .report-tile {
        display: flex;
        margin-bottom: 0.6rem;
        border-top: 1px solid #f1f1f1;
        height: 50%;

        .left {
          width: 200px;
          margin: 1.6rem;
          img {
            border: 1px solid #CCC;
          }
        }
        .right {
          padding: 1rem;
          h5 {
            margin-bottom: 0;
          }
          .published-info {
            color: @light-blue;
            font-size:smaller;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: small;
          }
        }
      }
    }
  }
}
