//*// CUSTOM HOME PAGE //*//

.home-content {
  // background-color: #f4f4f4;

  h3 {
    font-size: 24px;
    font-family: "PoppinsB";
    color: @darker-blue;
  }
}

.highlight-area {
  margin-top: 2em;
  .documentByLine {
    display: none;
  }

  #content {
    margin-bottom: 0;
    .documentFirstHeading,
    p {
      text-align: center;
    }
  }

  p {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
  }
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.topic-wrapper {
  flex: 1 0 21%;
  margin: 5px 15px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0.94px 1.42px 5px;
  -webkit-transition: box-shadow .2s ease-out;

  &:hover{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
   -webkit-transition: box-shadow .2s ease-in;
  }

  > a {
    display: inline-block;
  }

  .topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

    .topic-title {
      margin: 0;
    }
  }

  p {
    margin-top: 1em;
    font-size: 14px;
    color: #666;
  }
}

.topic-wrapper a:hover {
  cursor: pointer;
  > p {
    color: @darker-blue;
  }
}

// Graph/Map area

.map-container {
  padding: 3em 0;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  > img {
    flex: none; /* keep aspect ratio */
    width: 100%;
  }
}

.graph-data-wrapper {
  margin-top: 3em;
  h4 {
    font-size: 27px;
    font-family: "PoppinsSemiB";
    color: #b6a02b;
  }
}

.graph-data {
  font-size: 30px;
  font-family: 'RobotoB';
  margin-top: 1.2em;
  display: block;
}

.graph-data.data-first {
  color: @dark-blue;
}

.graph-data.data-second {
  color: @blue;
}

@media only screen and (max-width: 850px) {
  .topic-wrapper {
    flex: 1 0 41%;
  }
}

@media only screen and (max-width: 480px) {
  .topic-wrapper {
    flex: 1 0 51%;
  }
}
