//*// PAGE BANNER //*//

.page-main-image-wrapper {
  margin-bottom: 300px;
  .page-main-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 300px;
    z-index: -1;

    .lead-image {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
    }
  }
}

.section-news .newsImageContainer {
  display: block;
}

.newsImageContainer {
  display: none;
}
