//*// SITE NAV //*//

#mainnavigation-wrapper {
  .container {
    width: auto;
  }
}

.plone-navbar-collapse {
  &.plone-collapse {
    display: block;
    height: auto;
    padding-bottom: 0; // Override default setting
    overflow: visible;
  }

  &.in {
    overflow-y: visible;
  }
}

ul.plone-nav {
  margin-bottom: 0;
  padding-left: 0;

  li {
    .submenu {
      position: relative;
    }
  }

  > li {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    text-align: right;
    > a {
      display: flex;
      color: @blue;
      padding: 0.8em 1em 1.8em 1em;
      font-family: "RobotoM";
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    > .submenu {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      text-align: left;
      border-radius: 7px;
      position: absolute;
      left: 0;
      top: 4.2em;
      min-width: 20em;
      display: none;

      li:hover ul {
        left: auto !important;
      }

      > li {
        > a {
          padding: 2rem;
          border-bottom: 1px solid #ededed;

          &:hover {
            background-color: @darker-blue;
            color: #fff;
          }
        }

        li {
          a {
            font-size: 14px;
            color: @darker-blue;
            font-family: "RobotoR";
            padding: 0.3rem 2rem;

            &:hover {
              background-color: transparent;
              text-decoration: underline;
              color: @orange;
            }
          }
        }
      }

      > li:last-child {
        a {
          border-bottom: none;
        }
        .submenu {
          border-bottom: none;
        }
      }

      > li:first-child {
        a {
          border-top: none;
          border-top-right-radius: 7px;
          border-top-left-radius: 7px;
        }
      }

      > li:last-child {
        a:not(:only-child) {
          border-bottom: 1px solid #ededed;
        }
        a:only-child {
          border-bottom-right-radius: 7px;
          border-bottom-left-radius: 7px;
        }
      }

      a {
        color: @blue;
        min-width: auto;
        padding: 8px 0;
        font-family: "RobotoM";
      }

      .opener {
        display: none;
      }

      .submenu {
        display: block;
        background-color: transparent;
        padding: 0.8rem 0;
        border-bottom: 1px solid #ededed;
         > li {
           float: none;
         }
      }
    }

    // submenu top arrow
    >.submenu:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      z-index: 2;
    }
    >.submenu:after {
      content: '';
      position: absolute;
      top: -12px;
      left: 28px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid rgba(0,0,0, 0.05);
      z-index: 1;
    }
    >.aligned-submenu {
      right: 0;
      left: auto;
    }
    >.aligned-submenu:before {
      left: auto;
      right: 30px;
    }
    >.aligned-submenu:after {
      left: auto;
      right: 28px;
    }

  }

  > li:hover {
    > a {color: @darker-blue;}
  }

  > li:last-child {
    > a {
      padding-right: 0;
    }
  }

  > .selected > a {
    &,
    &:hover,
    &:focus {
      color: @darker-blue;
    }
  }
}


// mobile icon
.plone-navbar-toggle {
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: @plone-border-radius-base;
  display: none;

  &:focus {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #888;
  }
  .icon-bar+.icon-bar {
    margin-top: 4px;
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }
}


// Collapsed mobile menu

.collapse-nav {
  padding: 0.5em 0 !important;

  #mainnavigation-wrapper .container {
    padding: 0;
  }

  .site-logo img {
    width: 80px;
  }

  .logo-text {
    font-size: 12px;
    width: 145px;
    line-height: 15px;
  }

  .top-actions {
    display:flex;
    position: relative;

    .fa {
      color: #fff;
      font-size: 17px;
    }

    .user-wrapper {
      margin-top: 1em;
    }
  }

  .nav-text br {
    display: none;
  }

  .search-icon {
    display: none !important;
  }

  .top-actions .user-icon {
    background-position: -25px -22px;
  }

  .search-modal {
    display: block !important;
    background-color: transparent;
    position: relative;
    padding: 0.5em 0;
    top: auto;
    width: auto;
    box-shadow: none;

    input {
      width: 70%;
      float: left;
      margin-right: 2%;
    }

    .search-submit {
      display: none;
    }

    .submit-mobile-only {
      display: inline-block;
    }
  }

  .plone-navbar-toggle {
    display: block;
  }

  .plone-navbar-collapse {
    background-color: @blue;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    padding-right: 15px;
    padding-left:  15px;
    width: 320px;
    right: 0;
    top: 54px;
    z-index: 999;
    height: 95vh;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
  }

  .plone-navbar-collapse.in {
    display: block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    visibility: visible;

    .plone-navbar-nav {
      display: block;
      background-color: @blue;
      margin: 0 -15px 0 !important;

      > li {
        display: block;
      }

      li:hover > .submenu {
        display: none;
      }

      >li:not(:first-child) {
        >a {
          border-top: 1px solid #fff;
        }
      }

      li {
        >a {
          color: #fff;
          padding: 13px 15px;
          display: block;
          text-align: left;
        }

        .submenu {
          display: none;
          background-color: #f8f8f8;
          box-shadow: none;
          border-radius: 0;
          position: relative;
          left: auto;
          top: auto;
          min-width: auto;

          li {
            float: none;
            padding: 0;
            > a {
              color: @text-color;
              font-size: 14px;

              &:hover {
                background-color: transparent;
                color: @orange;
              }
            }
            .opener {
              display: none;
            }
          }

          .submenu {
            > li {
              a {
                font-size: 12px;
                padding: 13px;
              }
            }
          }
        }

        .opener {
          display: inline-block;
          margin-right: 0;
          background: transparent;
          border-color: transparent;
          border-radius: 4px;
          float: right;
          text-align: center;
          width: 32px;
          height: 32px;
          margin-top: 0;
          margin-right: 0;

          .caret {
            border-top: 8px solid #fff;
            border-bottom: 0;
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0;
            margin-bottom: 0.2em;
            vertical-align: middle;
            border-right: 0.5em solid transparent;
            border-left: 0.5em solid transparent;
          }
        }
      }
      .menu-open {
        display: block!important;
      }
    }
  }

  ul.plone-nav > li > .submenu:before {
    // border-color: transparent;
    display: none;
  }
}

#edit-zone .plone-toolbar-logo,
.plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
  bottom: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
