//*// OVERRIDES //*//

.documentFirstHeading {
  border-bottom: none;
}

#viewlet-above-content {
  position: relative;
}

.entry .summary a img.thumb-thumb {
  display: none;
}

#edit-zone {
  z-index: 999 !important;
}

#main-container {
  margin-top: 1.5em;
}

body.template-login #content {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  max-width: 400px;
  margin: 0 auto 6px;
}
