//*// OVERRIDES //*//

.documentFirstHeading {
  border-bottom: none;
}

#viewlet-above-content {
  position: relative;
}

.entry .summary a img.thumb-thumb {
  display: none;
}

#edit-zone {
  z-index: 999!important;
}

#edit-zone a {
  font-family: "RobotoR";
}

body.template-login #content {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  max-width: 400px;
  margin: 0 auto 6px;
}

.documentDescription {
  color: @text-color;
  font-family: "RobotoB";
  font-size: 20px;
}

#global_statusmessage {
  margin-top: 1.5em;
}

#searchform {
  .input-group {
    margin-bottom: 1em;

    input.searchPage.btn {
      width: auto;
      margin-left: 1em;
    }
    .form-control:first-child {
      border-radius: 20px;
    }
  }
}

@media (max-width: 900px) {
  .searchPage {
    #results-count {
      float: none;
      display: block;
      padding: 15px 0;
    }
  }
}

@media (max-width: 900px) {
  .searchPage {
    .actionMenu {
      float: none;

      dt {
        position: inherit;
        margin-top: 1.5em;
      }

      dd {
        right: auto;
        left: 0;
        top: 95px;
      }
    }
    #search-results-wrapper {
      #results-count {
        float: none;
        display: block;
        padding: 15px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .searchPage {
    .searchResults {
      padding-left: 20px;
    }

    #sorting-options {
      display: block;
    }

    .autotabs .autotoc-nav {
      overflow-x: unset;
      max-height: none;
    }
  }
}


// Datatables: add missing styling for paginaion
.dataTables_wrapper {
  .dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;

    ul.pagination {
      margin: 2px 0;
      white-space: nowrap;
      justify-content: flex-end;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: 0.25rem;

      li:before {
        content: "";
      }
    }

    .paginate_button a {
      position: relative;
      display: block;
      padding: 0.5em 0.8em;
      margin-left: -1px;
      line-height: 1.25;
      background-color: #fff;
      border: 1px solid #dee2e6;
      font-size: 16px;

      &:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
      }
    }

    .paginate_button.active a {
      z-index: 1;
      color: #fff;
      background-color: @blue;
      border-color: @dark-blue;
    }

    .paginate_button:first-child a {
      margin-left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .paginate_button:last-child a {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .paginate_button.disabled a {
      color: #a9a9a9;
      background-color: #fff;
      cursor: not-allowed;
    }
  }
}
