//* // HOMEPAGE SLIDER //*//

#slideshow {
  max-width: 100% !important;
  width: 100%;
  height: 550px;
}

.slideContainer {
  width: 100%;
  position: relative;
}

.slider-image-wrapper {
  height: 550px;
  overflow: hidden;
}

.slider-caption {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%);
  margin: 0 auto;
  min-height: 145px;
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.slider-title {
  background-color: @dark-blue;
  color: #fff;
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: 600;
  width: 30%;
  float: left;
  padding: 20px;
}

.slider-title,
.slider-description {
  display: flex;
  align-items: center;
}

.slider-description {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 18px;
  padding: 1em;
  text-align: left;
  width: 70%;
}

.slider-image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.slider-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.slider-actions {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 45px;
  z-index: 997;
  text-align: right;
  max-width: 1140px !important;
}


/* Arrows */

.slide-prev,
.slide-next {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: @darker-blue;
  text-align: center;
}


.slide-prev:hover:before,
.slide-prev:focus:before,
.slide-next:hover:before,
.slide-next:focus:before {
  opacity: 1;
}

.slide-prev:before,
.slide-next:before {
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 1.7;
  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-prev {
  margin-right: -2px;
}

.slide-prev:before {
  content: '\f053';
}

.slide-next:before {
  content: '\f054';
}

@media screen and (max-width: 800px) {
  .slider-caption {
    display: block;
  }

  .slider-title {
    width: 100%;
    font-size: 18px;
  }

  .slider-description {
    width: 100%;
    font-size: 16px;
  }
}
