//* // VARIABLES //*//

//*// COLORS

//blue shades
@light-blue:              #0077bc;
@blue:                    #005588;
@dark-blue:               #003159;
@darker-blue:             #002d54;

//gray shades
@lighter-gray:            #999;
@gray:                    #666;

@orange:                  #993300;

@text-color:              #000022;
@link-color:              @light-blue;


@font-size-base:          16px;
