.internal-related-content {
    float: left;

    ul {
        padding-left: 0;
    }

    li {
        display: block;
    }
}

.external-links {
    float: right;

    p::before {
        content: '\f0da';
        font-family: FontAwesome;
        padding-right: 0.5rem;
    }
}

#relatedItemBox {
    display: none;
}

.internal-related-content,
.external-links {
    border-top: 3px solid #e3edf7;
    margin-top: 1.5em;
}
