#edit-bar li {
    display: inline;
}


.navmenu div>img,
.header-bg img {
    width: 100%;
}

#user-name {
    display: block;
    color: white;
    background-color: Black;
}

.livesearchContainer {
    border-top: none;
}
