
@controls-link-color : #337ab7;


.wise-search-form-container dl
{
  overflow: hidden;
}

.wise-search-form-container,
#wise-search-form {
  dl {
    overflow: hidden;
  }

  dt {
    width: 20rem;
    float: left;
    clear: left;
    border-right: 1px solid #CCC;
    margin-top: 0.4rem;
  }

  dd {
    float: left;
    width: 48rem;
    border-left: 1px solid #CCC;
    margin-left: -1px;
    margin-top: 0.4rem;
    background-color: #EEE;
    padding: 0.4rem;
    max-height: 200px;
    overflow: auto;
  }

  ul {
    &.nav {
      list-style-type: none !important;
      display: inline-block;
      border-bottom: none;
      overflow: hidden;
      margin-left: 0;
    }

    li {
      list-style-type: none !important;
      display: inline-block;
      float: left;
      border: none;
      background-color: #eeeeee;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      transition: background-color 0.5s ease-in;
      -webkit-transition: background-color 0.5 ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;

      /*padding-bottom: 99999px;
      margin-bottom: -99999px;*/

      &:not(:first-child){
        margin-left: 2px;
      }
    }
  }

}

.wise-search-form-container ul.nav li:hover,
#wise-search-form ul.nav li:hover {
  background-color: #006699;
  border-right: none;
  color:white;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5 ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
}

.wise-search-form-container ul.nav li.active,
#wise-search-form ul.nav li.active,
#wise-search-form ul.nav li.active:hover
{
  background-color: #337ab7;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.wise-search-form-container ul.nav li.active a,
#wise-search-form ul.nav li.active a {
  background-color: transparent;
  border: none;
  color: white;
}

.wise-search-form-container ul.nav li a,
#wise-search-form ul.nav li a {
  border: none;
  margin: 0 auto;
}

.wise-search-form-container ul.nav li a:hover,
#wise-search-form ul.nav li a:hover {
  background-color: transparent;
  color: white;
  border:none;

}

.wise-search-form-container ul.nav li.active a:hover,
#wise-search-form ul.nav li.active a:hover {
  color: white;
  background-color: transparent;
  border:none;
}

.wise-search-form-container .tab-content,
#wise-search-form .tab-content {
  border-top: 1px solid rgb(204, 204, 204);
}

.wise-search-form-container > ul.topnav,
#wise-search-form > ul.topnav
{
  list-style-type: none !important;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #337ab7;
}


.wise-search-form-container > ul.topnav li,
#wise-search-form > ul.topnav li
{
  background-color: #eeeeee;

  list-style-type: none !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  margin: 0 auto;
  margin-right: 2px;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

.wise-search-form-container .field > span .option:nth-child(even),
#wise-search-form .field > span .option:nth-child(even) {
  background-color: #f0f6f9;
}

.option {
  display: block;
  width: 100%;
}

.option input[type='checkbox'] {
  display: none;
}

.option input[type='checkbox'] {
  margin-left: 2px;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cdcece;
  box-shadow: 0 1px 2px rgba(3,3,3,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(3,3,3,0.05);
  -moz-box-shadow: 0 1px 2px rgba(3,3,3,0.05);
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.option input[type='checkbox']:active,
.option input[type='checkbox']:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.option input[type='checkbox']:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  color: #99a1a7;
}

.option input[type='checkbox']:checked:after {
  content: '\2714';
  font-size: 13px;
  position: absolute;
  top: 0px;

  left: 1px;
  color: #99a1a7;
  line-height: 12px;
}

.option label {
  max-width: 80%;
  margin-bottom: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option label span{
  display: inline;
}

.option.controls a {
  padding-left: 1%;
  padding-right: 1%;

  label {
    margin-bottom: auto;

    .label {
      color: black;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    &:hover {
      color: white;
    }
  }
}

.field > span {
  display: block;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 150px;
}

.wise-search-form-container > ul.topnav li:hover,
#wise-search-form > ul.topnav li:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #337ab7;
}

.wise-search-form-container > ul.topnav li a,
#wise-search-form ul.topnav li a {
  word-wrap: break-word;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.wise-search-form-container > ul.topnav li a:hover,
#wise-search-form ul.topnav li a:hover {
  background: #337ab7;
  color: white;
}

.wise-search-form-container  ul.topnav li,
#wise-search-form ul.topnav li {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wise-search-form-container > ul.topnav li.tab-active ,
#wise-search-form  ul.topnav li.tab-active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #337ab7;
}

.wise-search-form-container  > ul.topnav .tab-active a,
#wise-search-form ul.topnav .tab-active a {
  color: white;
}

.extra-details {
  border-top: 1px solid #CCC;
  padding-top: 1rem;
}
.label {
  color: Black;
}


.wise-search-form-container div.formControls,
#wise-search-form div.formControls {
  margin-left: 0;
}

@media (min-width: 967px) and (max-width: 1024px){

  .wise-search-form-container > ul.topnav li,
  #wise-search-form > ul.topnav li {
    width: 30%;
  }
}

@media (max-width: 969px){
  .wise-search-form-container > ul.topnav,
  #wise-search-form > ul.topnav {
    padding-top: 10px;
  }

  .wise-search-form-container > ul.topnav li,
  #wise-search-form > ul.topnav li {
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    margin-bottom: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #wise-search-form dd {
    max-height: auto;
    max-width: 100%;
  }
}