@import "./bootstrap/variables.less";

.select2-top-override {
    &.select2-container{
      border: none;
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 20px;

      & > a {
        border: none;
      }

      .select2-choice {
        font-size: 1.5em;
        padding-left: 0;
      }

    }
}

.select2-top-override-dropdown {

  .select2-results {


    li {
      font-size: 2rem;
      text-overflow: ellipsis;
      line-height: 1.5em;
      height: 3em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;

      .select2-match {

      }
    }

    .select2-result-label {
      //white-space: nowrap;
    }
  }

}

@media (max-width: @screen-md-min){
  .select2-top-override {
    &.select2-container{
      margin-right: 0px;

      .select2-choice {
        font-size: 1em;
        padding-left: 0;
      }
    }
  }

  .select2-top-override-dropdown {

    .select2-results {


      li {
        font-size: 1em;
      }
    }

  }
}

