.select2-top-override {
    &.select2-container{
      border: none;
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 20px;

      & > a {
        border: none;
      }

      .select2-choice {
        font-size: 1.5em;
        padding-left: 0;
      }

    }
}

.select2-top-override-dropdown {

  .select2-results {
    li {
      font-size: 2em;
    }
  }

}

