@import "./bootstrap/variables.less";

#marine-unit-trigger {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 15rem;

  a {
    text-shadow: 2px 1px 1px #ccc;
    font-size: 2.5em;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    position: relative;
    /*white-space: nowrap;*/
    max-width: 100%;
    display: inline-block;

  }

  .arrow {
    width: auto;
    height: 5rem;
    font-size: 2.5em;
    line-height: 2.5em;
    display: block;
    position: absolute;

    &:after {
      content: "\f107";
      font-family: FontAwesome;
      font-weight: normal;
      margin-left: 1rem;
      color: #0071b3;

      /*position:absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);*/
    }
  }

}

.select2-top-override {
    &.select2-container{
      width: 100% !important;
      max-width: 100% !important;
      border: none;
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 20px;


      & > a {
        border: none;

        &:hover {
          b:after {
            top: 25% !important;
          }
        }
      }

      .select2-choice {
        display:none !important;

        font-size: 1.5em;
        padding-left: 0;
        /*border-bottom: 1px solid #eee;*/
        /*width: 50%;*/
        /*margin-left: -23px;*/

        .select2-chosen {
          margin-right: 0;
          /*padding-left: 1rem;
          padding-right: 1rem;*/
          /*text-align: center;*/
        }

        .select2-arrow {
          width: 20px;
          display: block;
          position: relative;
          margin-left: 50%;
          transform: translate3d(-50%, 0,0);
          height: 2rem;

          b {
            color: #0071b3;
            //background: url("++resource++select2/select2.png") no-repeat 0 8px !important;
            background: none;
            padding: 0;
            margin: 0 auto;
            position: relative;

            &:after {
              content: "\f107";
              font-family: FontAwesome;
              font-size: 2.5rem;
              font-weight: 100;
              margin-top: 0;
              width: 100%;
              display: block;
              position:absolute;
            }
          }
        }



      }

    }


}

.select2-top-override-dropdown {

    margin-top: 40px !important;


  .select2-results {


    li {
      font-size: 2rem;
      text-overflow: ellipsis;
      line-height: 1.5em;
      height: 3em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;

      .select2-match {

      }
    }

    .select2-result-label {
      //white-space: nowrap;
    }
  }

}

@media (max-width: @screen-md-min){
  .select2-top-override {
    &.select2-container{
      margin-right: 0px;

      .select2-choice {
        font-size: 1em;
        padding-left: 0;
       /* border-bottom: 1px solid #eee;*/

        .select2-arrow {
          width: 20px;
          margin-right: 10px;

          b {
            background: none !important;
          }
        }

      }
    }
  }

  .select2-top-override-dropdown {

    .select2-results {


      li {
        font-size: 1em;
      }
    }

  }
}

